body {    background-color: rgb(27, 94, 218); background-image: linear-gradient(blue white);
    font-size: 2.1em;}
    h1 {text-align: center; color: rgb(27, 26, 27);}
#intro {  font-size: 1.em ;
color: rgb(22, 22, 18);}
.colorful { color: rgb(26, 21, 25);}
p {text-align: center;
color: rgb(26, 27, 26);}